:root {
  --gradient-color-main:linear-gradient(355deg,rgba(255, 255, 255, 0.356) 0%, rgba(0, 0, 0, 0.445) 56%, rgba(255, 255, 255, 0.767) 100%);
  --gradient-color-secondary:linear-gradient(355deg,rgba(255, 255, 255, 0.63) 0%, rgba(0, 0, 0, 0.767) 56%, rgba(255, 255, 255, 0.87) 100%);
  --gradient-color-bg:linear-gradient(355deg,rgba(255, 255, 255, 0.527) 0%, rgba(129, 129, 129, 0.555) 56%, rgba(255, 255, 255, 0.61) 100%);
  --svg-icons-inactive:rgba(190, 190, 190, 0.329);
  --border-color-inactive:rgba(255, 255, 255, 0.267);
  --border-color-active:rgba(255, 255, 255, 0.808);
  --svg-icons-active:rgb(255, 255, 255);
  --accent-colors:rgb(221, 255, 99);
  --navbar-color: rgb(36, 36, 36);
}

* {
  margin: 0;
  padding: 0;
  font-family: Oxanium;
  -webkit-tap-highlight-color: transparent;
  font-weight: 300;
}

body {
  opacity: 0;
  transition: opacity 0.6s ease;
}

body.fade-in {
  opacity: 1;
}

section {
  height: 100vh;
  position: relative;
  background-image: var(--gradient-color-bg);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.page-topbar {
  display: flex;
  position: block;
  flex-direction: row-reverse;
  height: clamp(3.5rem, 2.8681rem + 2.7473vw, 6rem);
  background-color: var(--navbar-color);
  background-size: cover;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: clamp(0.3rem, 0.0599rem + 1.044vw, 1.25rem);
  box-sizing: border-box;
}

.page-topbar h1{
  color: var(--accent-colors);
  font-weight: 300;
  font-size: clamp(0.7rem, 0.4978rem + 0.8791vw, 1.5rem);
}

.page-back-button {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  border: solid 2px var(--accent-colors);
  background-color: transparent;
  transition: .3s ease-in-out;
  font-weight: 500;
  padding: .5rem;
}

.page-back-button svg {
  height: clamp(1.5rem, 1.0893rem + 1.7857vw, 3.125rem);
  fill: var(--accent-colors);
}

.page-back-button:hover {
  transform: scale(1.05);
}

.gallery-img.skeleton {
  background: #222;
  border-radius: 8px;
  width: 150px; /* adjust to your gallery style */
  height: 100px;
  margin: 0 8px;
  flex-shrink: 0;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}



/*music player styles*/
#progress,
#volume {
  -webkit-appearance: none;
  appearance: none;
  width: 150px;
  height: 6px;
  background: transparent;
  border-radius: 3px;
  outline: none;
  --value: 50%; /* updated via JS */
}


#progress::-webkit-slider-runnable-track,
#volume::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 3px;
  background: linear-gradient(
    to right,
    var(--accent-colors) 0%,
    var(--accent-colors) var(--value),
    var(--navbar-color) var(--value),
    var(--navbar-color) 100%
  );
}

#progress::-webkit-slider-thumb,
#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: var(--navbar-color);
  border: solid 3px var(--accent-colors);
  border-radius: 2px;
  margin-top: -5px; 
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.music-player-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--gradient-color-main);
  color: white;
  height: 4.5rem;
  width: 100%;
  padding: 0 .5rem 0 .5rem;
  box-sizing: border-box;
}

.music-player-wrapper {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.music-player-wrapper.hidden .music-player-top {
  display: none;
}

#volume-btn {
  display: none;
}

#progress {
  width: 40%;
}

#volume {
  width: 150px;
  height: 1rem;
}

#timer {
  font-size: clamp(0.7rem, 0.4978rem + 0.8791vw, 1.5rem);
  font-weight: 300;
  background-color: var(--accent-colors);
  color: var(--navbar-color);
  padding: .5rem;
  border-radius: 10px;
}

#play-pause, #prev-track, #next-track {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .7rem;
  border-radius: 100%;
  height: clamp(2.188rem, 1.8721rem + 1.3736vw, 3.438rem);
  width: clamp(2.188rem, 1.8721rem + 1.3736vw, 3.438rem);
  border: none;
  background-color: var(--accent-colors);
  cursor: pointer;
}

#play-pause svg, #prev-track svg, #next-track svg{
  height: clamp(1rem, 0.8736rem + 0.5495vw, 1.5rem);
}

#prev-track svg {
  transform: scaleX(-1);
}

.volume-control #volume-btn {
  background-color: var(--accent-colors);
  border-radius: 100%;
}

#volume-btn svg{
  border: none;
  fill: var(--navbar-color);
  
}

.music-player-tab {
  position: absolute;
  top: 100%;             
  left: 50%;             
  transform: translateX(-50%);
  background: var(--border-color-inactive);
  color: var(--accent-colors);
  cursor: pointer;
  text-align: center;
  padding: 
  .2rem
  clamp(1rem, 0.7473rem + 1.0989vw, 2rem)
  .2rem
  clamp(1rem, 0.7473rem + 1.0989vw, 2rem);
  font-size: clamp(1rem, 0.8736rem + 0.5495vw, 1.5rem);
  border-radius: 0 0 6px 6px;
}

.music-controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.music-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  height: 100%;
  font-size: .7rem;
  background-color: var(--navbar-color);
  padding: 0px 5px 0px 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.music-list {
  display: flex;
  justify-items: center;
  top: 100%;
  right: 0;
  position: absolute;
  height: clamp(20rem, 17.4725rem + 10.989vw, 30rem);
  width: clamp(20rem, 18.7363rem + 5.4945vw, 25rem);
  background-color: var(--svg-icons-inactive);
  backdrop-filter: blur(10px);
  border: solid 2px var(--border-color-inactive);
  display: none;
  border-radius: 0 0 0 1rem;
  box-sizing: border-box;
  overflow-y: scroll;
}

.music-list::-webkit-scrollbar {
  width: 12px;             
}

.music-list::-webkit-scrollbar-track {
  background: transparent;
}

.music-list::-webkit-scrollbar-thumb {
  background: var(--accent-colors);
  border: 3px solid transparent;
  background-clip: content-box;
  border-radius: 10px;
}

.music-choices {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  width: 99%;
  height: 5rem;
  background-color: var(--border-color-inactive);
  overflow: hidden;
  cursor: pointer;
}

.music-choices.active {
  background-color: var(--accent-colors);
}

.album-cover {
  width: 5rem;
  height: 100%;
  background-color: var(--accent-colors);
}

.album-cover img{
  width: 5rem;
  object-fit: cover;
}

.song-desc {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.song-desc h1 {
  font-size: 1rem;
  font-weight: bold;
  color: var(--navbar-color);
}

.song-desc h2 {
  font-size: 1rem;
  color: var(--navbar-color);
}

.music-list.show {
  display: block;
}

.song-art {
  left: 0;
  width: 70px;
  height: 100%;
  background-color: var(--accent-colors);
  overflow: hidden;
}

.song-art img {
  width: 100%;
  height: 100%;
  border: solid .15rem var(--accent-colors);
  box-sizing: border-box;
  object-fit: cover;
}


.track-title-wrapper {
  display: flex;
  width: clamp(4.5rem, 0.5824rem + 17.033vw, 20rem);     
  overflow: hidden;          
  white-space: nowrap;  
  position: relative;
  background-color: var(--accent-colors);
  border-radius: 5px;
}

#track-title {
  display: inline-block;
  padding-left: 100%;       
  animation: scroll-title 10s linear infinite;
  color: black;
  font-weight: bold;
}

/*homepage styles*/
.home-page,
.home-page .swiper,
.home-page .swiper-wrapper {
  overflow: visible;
}

.home-page {
  width: 100%;
  height: 100vh;
  display: flex;
}

.swiper-wrapper {
  align-items: center;
  height: 200px;
}

.swiper-slide {
  position: relative;
  z-index: 1;
  width: clamp(6.25rem, 3.0907rem + 13.7363vw, 18.75rem) !important;
  height: 50%;
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide.swiper-slide-active {
  z-index: 100;
}

.home-icons {
  width: clamp(6.25rem, 3.0907rem + 13.7363vw, 18.75rem);
  height: clamp(6.25rem, 3.0907rem + 13.7363vw, 18.75rem);
  margin-bottom: clamp(0.5rem, 0.3736rem + 0.5495vw, 1rem);
  background: transparent;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid var(--border-color-inactive);
  border-width: clamp(0.125rem, 0.0775rem + 0.2066vw, 0.313rem);
  position: relative;
  transition: .2s ease-in;
}


.home-icons svg {
  height: clamp(3rem, 1.4835rem + 6.5934vw, 9rem);
  fill: var(--svg-icons-inactive);
}

.home-icons h3 {
  display: none;
  position: absolute;
  bottom: 15px;
  font-size: clamp(0.55rem, 0.1835rem + 1.5934vw, 2rem);
  color: var(--svg-icons-inactive);
}

.home-icons.active h3 {
  display: block;
  color: var(--accent-colors);
}

.home-icons.active {
  transform: scale(1.1);
  border-color:  var(--accent-colors);
  background: var(--gradient-color-main);
}

.home-icons.active svg {
  mix-blend-mode: overlay;
  fill: var(--svg-icons-active);
}

.home-content {
  position: relative;
  left: 12px;
  width: auto;
  height: 10dvh;
  padding: clamp(0.5rem, 0.3893rem + 0.4813vw, 0.938rem);
  font-size: clamp(0.5rem, 0.3736rem + 0.5495vw, 1rem);
  color: var(--svg-icons-active);
  display: none;
  pointer-events: none;
}

.home-content.is-open {
  display: block;
  pointer-events: auto;
}

.home-content-nest {
  position: relative;
  width: 30rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  z-index: 101;
  transition: 0.2s ease-in;
  background-image: var(--gradient-color-secondary);
  border-radius: 20px 20px 150px 20px;
  cursor: pointer;
  backdrop-filter: blur(5px);
  border: solid 1px var(--accent-colors);
}

.icon-content {
  width: clamp(4rem, 3.4313rem + 2.4725vw, 6.25rem);
  height: clamp(4rem, 3.4313rem + 2.4725vw, 6.25rem);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 21;
}

.icon-content svg {
  height: clamp(2rem, 1.3997rem + 2.6099vw, 4.375rem);
  fill: var(--svg-icons-inactive);
  mix-blend-mode: multiply;
  transition: 0.3s;
}

.home-content-nest h1 {
  color: var(--svg-icons-active);
  cursor: pointer;
  transition: 0.3s;
}

.home-content-nest:hover {
  transform: scale(1.1);
}

.home-content-nest:hover h1 {
  color: var(--accent-colors);
  font-weight: 500;
}

.home-content-nest:hover svg {
  fill: var(--svg-icons-active); 
}


.home-content-wrapper {
  position: relative;
  z-index: 20;
}

.homepage-tools {
  position: relative;
}

.homepage-tools-nest {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100px;
  padding-right: clamp(1.5rem, 0.8681rem + 2.7473vw, 4rem);
  margin-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  column-gap: 20px;
  border-radius: 50px;
  box-sizing: border-box;
  align-items: center;
}

.time {
  width: 250px;
  height: 100px;
  border-radius: 50px;
  align-content: center;
  justify-items: right;
}

#clock {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: var(--accent-colors);
}

#date {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: var(--svg-icons-active);
}

.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(4rem, 3.4313rem + 2.4725vw, 6.25rem);
  height: clamp(4rem, 3.4313rem + 2.4725vw, 6.25rem);
  background: var(--gradient-color-main);
  border-radius: 50%;
}

.profile-picture img {
  opacity: .7;
  mix-blend-mode: hard-light;
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

.ui-map button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1.2rem;
  padding: 1rem;
  border: none;
  border-radius: 50px;
  z-index: 9999;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  transition: .3s;
  text-transform: uppercase;
}

.ui-map button:hover {
  transform: scale(1.1);
}

.ui-map-content {
  position: fixed;
  bottom: calc(85px + env(safe-area-inset-bottom));
  right: calc(28px + env(safe-area-inset-right));
  z-index: 9999;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: rgba(0, 0, 0, 0.568);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 20px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.main-overlay img:nth-child(1){
  position: absolute;
  bottom: -2rem;
  left: -2rem;
  height: clamp(20rem, 11.6277rem + 36.4011vw, 53.125rem);
  transform: scaleX(-1);
}



.ui-map-content.active {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
}

.ui-map-content button {
  font-size: 1.2rem;
  padding: 1rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background: transparent;
  border: solid 2px var(--svg-icons-active);
  color: var(--svg-icons-active);
  transition: .3s;
  text-transform: uppercase;
}

.ui-map-content button:hover {
  transform: scale(1.05);
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

/*socials styles*/
.socials-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.socials-nest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: calc(100dvh - clamp(3.5rem, 2.8681rem + 2.7473vw, 6rem));
  backdrop-filter: blur(5px);
  background-image: var(--gradient-color-main);
  width: 100vw;
}

.social-bg-wrapper {
  position: absolute;
  width: 100vw;
  height: calc(100dvh - clamp(3.5rem, 2.8681rem + 2.7473vw, 6rem));
  background-image: url(/img/frutiger-aurora-1.webp);
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}

.palm-tree-overlay svg:nth-child(1) {
  position: absolute;
  bottom: -105px;
  left: -10rem;
  height: clamp(25rem, 17.4176rem + 32.967vw, 55rem);
  z-index: -1;
  fill: rgb(255, 54, 88);
  animation: swayTree 3s infinite ease-in-out;
}

.palm-tree-overlay svg:nth-child(2){
  position: absolute;
  bottom: -105px;
  right: -10rem;
  height: clamp(18rem, 8.6484rem + 40.6593vw, 55rem);
  z-index: -1;
  fill: rgb(255, 54, 88);
  animation: swayTree2 3s infinite ease-in-out;
}

.canvas-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color:var(--accent-colors);
  opacity: 1;
  z-index: -1;
}


.socials-nest h1 {
  font-size: clamp(2rem, 1.2418rem + 3.2967vw, 5rem);
  color: var(--accent-colors);
  backdrop-filter: blur(100px);
  color: var(--accent-colors);
  background-color: rgba(0, 0, 0, 0.26);
  padding: 20px;
  border-radius: 20px;
  border: solid 5px var(--accent-colors);
}

.socials-wrapper img#left {
  position: absolute;
  height: clamp(16rem, 9.7761rem + 27.0604vw, 40.625rem);
  left: 20px;
  bottom: 0;
}

.socials-wrapper img#right {
  position: absolute;
  height: clamp(11rem, 3.5124rem + 32.5549vw, 40.625rem); 
  right: 20px;
  top: 20px;
}

.icons-nest {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5cqmin;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  row-gap: 20px;
}

.socials-icons {
  display: flex;
  height: clamp(6rem, 3.5673rem + 10.5769vw, 15.625rem);
  width: clamp(6rem, 3.5673rem + 10.5769vw, 15.625rem);
  background-image: var(--gradient-color-main);
  border: solid 5px var(--svg-icons-inactive);
  backdrop-filter: blur(15px);
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  transition: all .3s ease;
}

.socials-icons svg {
  height: clamp(4rem, 2.6415rem + 5.9066vw, 9.375rem);
  mix-blend-mode: overlay;
  fill: var(--svg-icons-active);
}

.socials-icons:hover {
  border: solid 5px var(--accent-colors);
}

canvas.bg3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1; /* stays behind content */
  mix-blend-mode: hard-light;
}

/*about styles*/
.about-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-overlay {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  height: clamp(9.375rem, 7.0055rem + 10.3022vw, 18.75rem);
}

.about-nest {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(100dvh - clamp(3.5rem, 2.8681rem + 2.7473vw, 6rem));
  backdrop-filter: blur(5px);
  background-image: var(--gradient-color-main);
  width: 100vw;
  column-gap: 30px;
  box-sizing: border-box;
  padding: clamp(0.8rem, 0.6072rem + 0.8385vw, 1.563rem);
}

.left-info {
  height: 100%;
  width: 35%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--svg-icons-inactive);
  border: 2px solid var(--border-color-inactive);
}

.left-info img {
  height: clamp(8rem, 4.4931rem + 15.2473vw, 21.875rem);
  width: clamp(8rem, 4.4931rem + 15.2473vw, 21.875rem);
  border-radius: 1000px;
  mix-blend-mode: hard-light;
  opacity: .8;
}

.about-pfp {
  position: relative;
  height: clamp(8rem, 4.4931rem + 15.2473vw, 21.875rem);
  width: clamp(8rem, 4.4931rem + 15.2473vw, 21.875rem);
  background-image: var(--gradient-color-main);
  border-radius: 1000px;
  padding: clamp(0.313rem, 0.0762rem + 1.0297vw, 1.25rem);
  margin-bottom: clamp(1.25rem, 0.7761rem + 2.0604vw, 3.125rem);
}

.pfp-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: clamp(8rem, 4.4931rem + 15.2473vw, 21.875rem);
  width: clamp(8rem, 4.4931rem + 15.2473vw, 21.875rem);
  border-radius: 1000px;
  z-index: 9999;
}

.pfp-frame video {
  height: clamp(18rem, 9.1538rem + 38.4615vw, 53rem);
  pointer-events: none;
}

.left-info h1 {
  font-size: clamp(1.25rem, 0.8077rem + 1.9231vw, 3rem);
  font-weight: bold;
  color: var(--svg-icons-active);
}

.left-info h2 {
  font-size: clamp(0.7rem, 0.3714rem + 1.4286vw, 2rem);
  color: var(--accent-colors);
}

.about-texts {
  display: flex;
  flex-direction: column;
}

.right-info  {
  width: 75%;
  height: 100%;
  background-color: var(--svg-icons-inactive);
  border: 2px solid var(--border-color-inactive);
  border-radius: 50px;
  box-sizing: border-box;
  padding: clamp(1rem, 0.4629rem + 2.3352vw, 3.125rem);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .5fr 1fr;
  gap: clamp(0.625rem, 0.467rem + 0.6868vw, 1.25rem);
}

.info-top {
  background-color: var(--svg-icons-inactive);
  border-radius: 20px;
  border: 2px solid var(--border-color-inactive);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.7rem, 0.3714rem + 1.4286vw, 2rem);
}

.info-top h1 {
  font-weight: bold;
  color: var(--accent-colors);
}

.info-bot {
  background-color: var(--svg-icons-inactive);
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  border-radius: 20px;
  border: 2px solid var(--border-color-inactive);
  box-sizing: border-box;
  padding: clamp(1.25rem, 0.7761rem + 2.0604vw, 3.125rem);
  font-size: clamp(1rem, 0.7451rem + 1.978vw, 3rem);
  color: var(--svg-icons-active);
}

/*wishlist styles*/
.wishlist-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.wishlist-nest {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.625rem, 0.467rem + 0.6868vw, 1.25rem);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  background-image: var(--gradient-color-main);
  width: 100%;
  height: calc(100dvh - clamp(3.5rem, 2.8681rem + 2.7473vw, 6rem));
  padding: clamp(0.5rem, 0.2313rem + 1.1681vw, 1.563rem);
  box-sizing: border-box;
}


.wishlist-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--border-color-inactive);
  border: 2px solid var(--border-color-inactive);
  width: 100%;
  height: 100px;
  border-radius: 30px;
}

.wishlist-title img:nth-child(1) {
  position: absolute;
  right: clamp(2rem, -8.3626rem + 45.0549vw, 43rem);
  height: clamp(3rem, 2.4945rem + 2.1978vw, 5rem);
}

.wishlist-title img:nth-child(2) {
  position: absolute;
  left: clamp(2rem, -8.3626rem + 45.0549vw, 43rem);
  height: clamp(3rem, 2.4945rem + 2.1978vw, 5rem);
  transform: scaleX(-1);
}

.wishlist-title h1 {
  font-size: clamp(1.5rem, 1.2473rem + 1.0989vw, 2.5rem);
  font-weight: bold;
  color: var(--accent-colors);
}

.wishlist-front {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  overflow: hidden;
  background-color: var(--svg-icons-inactive);    
  box-sizing: border-box;
  padding-right: clamp(0rem, -0.3159rem + 1.3736vw, 1.25rem);
  border: 2px solid var(--border-color-inactive);
}

.wishlist-scroller {
  height: 100%;
  overflow-y: auto;
  padding: clamp(1rem, 0.4629rem + 2.3352vw, 3.125rem);
  box-sizing: border-box;
  display: grid;
  gap: clamp(1.25rem, 0.7761rem + 2.0604vw, 3.125rem);
  grid-template-columns: repeat(auto-fit,minmax(clamp(300px, 30vw, 350px), 1fr));
  grid-auto-rows: clamp(28rem, 26.3887rem + 7.0055vw, 34.375rem);
  scrollbar-gutter: stable;
}

.wishlist-scroller::-webkit-scrollbar {
  width: 15px;             
}

.wishlist-scroller::-webkit-scrollbar-track {
  background: transparent;   
  margin: 50px;      
}

.wishlist-scroller::-webkit-scrollbar-thumb {
  background: var(--accent-colors);
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: content-box;
}

.items {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  overflow: hidden;
  border: 2px solid var(--border-color-inactive);
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.items:hover {
  transform: scale(1.02);
  border: 2px solid var(--accent-colors);
}

.glass-pane {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
  width: 100%;
  background-image: linear-gradient(179deg, var(--svg-icons-active) 0%, rgba(255, 255, 255, 0.205) 50%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
  opacity: .8;
}

.glass-pane img {
  height: clamp(17.5rem, 16.8681rem + 2.7473vw, 20rem);
  width: clamp(17.5rem, 16.8681rem + 2.7473vw, 20rem);
  object-fit: cover;
  border-radius: 50px;
}

.item-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
  width: 100%;
  background-color: var(--svg-icons-inactive);
  box-sizing: border-box;
  text-align: center;
  padding: 30px;
  color: var(--svg-icons-active);
}

.wishlist-modal {
  position: absolute;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(55px);
  z-index: 1;
  display: flex;
  box-sizing: border-box;
  padding: clamp(0.938rem, 0.3852rem + 2.4033vw, 3.125rem);
  justify-content: center;
  align-items: center;
  height: calc(var(--vh, 1vh) * 100); /* full usable viewport height */
  width: 100%;
  overflow: auto; /* allows scrolling if content is taller */
}

.wishlist-modal svg {
  position: absolute;
  fill: var(--accent-colors);
  height: clamp(3rem, 2.1786rem + 3.5714vw, 6.25rem);
  top: 0;
  right: 0;
  cursor: pointer;
}

.modal-content {
  width: 100%;
  height: 86%;
  background-image: var(--gradient-color-main);
  border-radius: 50px;
  display: flex;
  column-gap: 50px;
  overflow: hidden;
  border: 2px solid var(--border-color-inactive);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.modal-content img {
  width: 100%;
  height: 100%;
}

.modal-img {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

.modal-desc {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  color: var(--svg-icons-active);
  box-sizing: border-box;
  padding: clamp(2rem, -0.7898rem + 3.4341vw, 3.125rem);
}

.modal-desc h1 {
  font-size: clamp(1rem, 0.4945rem + 2.1978vw, 3rem);
  color: var(--accent-colors);
}

.modal-desc p {
  font-size: clamp(1.2rem, 0.8714rem + 1.4286vw, 2.5rem);
}

/*main-gallery styles*/
.main-gallery-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-gallery-nest {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  background-image: var(--gradient-color-main);
  width: 100%;
  height: calc(100dvh - clamp(3.5rem, 2.8681rem + 2.7473vw, 6rem));
  padding: clamp(0.5rem, 0.2313rem + 1.1681vw, 1.563rem);
  box-sizing: border-box;
}

.main-gallery-overlay {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: clamp(6.25rem, 4.0385rem + 9.6154vw, 15rem);
}

.gallery-picker, .gallery-viewer {
  width: 100%;
  height: 100%;
  background-color: var(--svg-icons-inactive);
  border-radius: clamp(1rem, 0.4629rem + 2.3352vw, 3.125rem);
  border: 2px solid var(--border-color-inactive);
}

.gallery-picker {
  height: 100%;
  width: 100%;
  background-color: var(--svg-icons-inactive);    
  box-sizing: border-box;
  padding-right: clamp(0rem, -0.3159rem + 1.3736vw, 1.25rem);
}

.gallery-scroller {
  height: 100%;
  overflow-y: auto;
  padding: clamp(1rem, 0.4629rem + 2.3352vw, 3.125rem);
  box-sizing: border-box;
  display: grid;
  gap: clamp(0.5rem, 0.3736rem + 0.5495vw, 1rem);
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  scrollbar-gutter: stable;
}

.gallery-img {
  min-height: clamp(5.625rem, 3.0975rem + 10.989vw, 15.625rem);
  min-width: clamp(5.625rem, 3.0975rem + 10.989vw, 15.625rem);
  background-color: var(--svg-icons-inactive);
  border: solid 3px transparent;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  transition: .3s ease-in-out;
}

.gallery-img:hover, .gallery-img.active {
  border: solid 3px var(--accent-colors);
}

.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-scroller::-webkit-scrollbar {
  width: 15px;             
}

.gallery-scroller::-webkit-scrollbar-track {
  background: transparent;   
  margin: 50px;      
}

.gallery-scroller::-webkit-scrollbar-thumb {
  background: var(--accent-colors);
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: content-box;
}

.gallery-viewer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.image-viewfinder {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--svg-icons-inactive);
}

/* blurred background layer */
.image-viewfinder::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  filter: blur(20px);
  transform: scale(1.2); /* prevent blur edges from showing */
  z-index: 0;
}

/* foreground image */
.image-viewfinder img {
  position: relative;
  z-index: 1; /* sits above blur */
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}


.image-desc {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: clamp(0.625rem, -0.0069rem + 2.7473vw, 3.125rem);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.image-desc button {
  width: auto;
  height: auto;
  padding: clamp(0.5rem, 0.3104rem + 0.8242vw, 1.25rem);
  font-size: clamp(1rem, 0.8736rem + 0.5495vw, 1.5rem);
  border-radius: 20px;
  border: 2px solid var(--border-color-inactive);
  background-color: var(--svg-icons-inactive);
  cursor: pointer;
  transition: .3s ease;
  color: var(--accent-colors);
  font-weight: 500;
}

.image-desc button:hover {
  background-color: var(--accent-colors);
  color: black;
}

.image-desc h1 {
  font-size: clamp(1rem, 0.6209rem + 1.6484vw, 2.5rem);
  color: var(--accent-colors);
  font-weight: 500;
}

.gallery-modal {
  position: fixed;
  inset: 0;
  display: none; 
  box-sizing: border-box;
  z-index: 9999;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.685);
}

.gallery-modal.open {
  display: grid;              
  place-items: center;       
  min-height: 100vh;
}

#gallery-modal-img,
.gallery-modal-content {
  display: block;            
  max-width: 100vw;
  max-height: 100dvh;
  width: auto;
  height: auto;
  object-fit: contain;      
  margin: 0;                  
}

.gallery-modal-content {
  display: flex;
  margin: 5% auto;
  max-width: 90%;
  max-height: 80vh;
}

.close {
  position: absolute;
  top: 0; 
  right: 0;
  color: #fff;
  font-size: 40px;
  font-weight: 200;
  cursor: pointer;
}

/*old gallery styles*/ 
.old-gallery-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.old-gallery-overlay{
  position: absolute;
  z-index: 1;
  height: clamp(5rem, 2.3146rem + 11.6758vw, 15.625rem);
  bottom: 0;
  right: 0;
}

.old-gallery-nest {
  display: flex;
  gap: clamp(0.625rem, 0.467rem + 0.6868vw, 1.25rem);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  background-image: var(--gradient-color-main);
  width: 100%;
  height: calc(100dvh - clamp(3.5rem, 2.8681rem + 2.7473vw, 6rem));
  padding: clamp(0.5rem, 0.2313rem + 1.1681vw, 1.563rem);
  box-sizing: border-box;
}

.old-gallery-navi, .old-gallery-main {
  height: 100%;
  background-color: var(--svg-icons-inactive);
  border-radius: clamp(1rem, 0.4629rem + 2.3352vw, 3.125rem);
  border: 2px solid var(--border-color-inactive);
}

.old-gallery-navi {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 20%;
  box-sizing: border-box;
  padding: 20px;
}

.old-gallery-navi button {
  width: clamp(5rem, 2.4725rem + 10.989vw, 15rem);
  font-size: clamp(1rem, 0.4945rem + 2.1978vw, 3rem);
  border-radius: 10px;
  border: none;
  padding: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  background-color: var(--svg-icons-inactive);
  border: 2px solid var(--border-color-inactive);
  font-weight: 500;
  color: var(--accent-colors);
  transition: .3s ease-in-out;
}

.old-gallery-navi button:hover, .old-gallery-navi button.active {
  background-color: var(--accent-colors);
  border: 2px solid var(--accent-colors);
  color: black;
}

.old-gallery-main {
  width: 100%;
  background-color: var(--svg-icons-inactive);    
  box-sizing: border-box;
  padding-right: clamp(0rem, -0.3159rem + 1.3736vw, 1.25rem);
}

.old-gallery-scroller {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: clamp(1rem, 0.4629rem + 2.3352vw, 3.125rem);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  scrollbar-gutter: stable;
  justify-content: left;
  gap: clamp(0.625rem, 0.467rem + 0.6868vw, 1.25rem);
  transition: opacity 0.1s ease;
  opacity: 1;
}

.old-gallery-scroller.fade-out {
  opacity: 0;
}

.old-gallery-img {
  height: clamp(8rem, 4.967rem + 13.1868vw, 20rem);
  width: clamp(8rem, 4.967rem + 13.1868vw, 20rem);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.old-gallery-img:hover {
  transform: scale(1.04);
}

.old-gallery-img img {
  height: clamp(8rem, 4.967rem + 13.1868vw, 20rem);
  width: clamp(8rem, 4.967rem + 13.1868vw, 20rem);
  object-fit: cover;
}

.old-gallery-scroller::-webkit-scrollbar {
  width: 15px;             
}

.old-gallery-scroller::-webkit-scrollbar-track {
  background: transparent;   
  margin: 50px;      
}
.old-gallery-scroller::-webkit-scrollbar-thumb {
  background: var(--accent-colors);
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: content-box;
}


.lg-outer .lg-thumb-item {
  position: relative;
  box-sizing: border-box;
}

.lg-outer .lg-thumb-item::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid transparent;
  pointer-events: none; 
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.lg-outer .lg-thumb-item:hover::after {
  border-color: var(--accent-colors);
}

.lg-outer .lg-thumb-item {
  border: none !important;
}

.lg-outer .lg-thumb-item.active::after {
  border-color: var(--accent-colors);
}

.lg-toolbar .lg-close {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
  font-size: 2rem; 
  right: 10px;
  top: 10px;
  z-index: 9999;
}

/*art grave styles*/
.art-grave-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.art-grave-nest {
  display: flex;
  gap: clamp(0.625rem, 0.467rem + 0.6868vw, 1.25rem);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  width: 100%;
  height: calc(100dvh - clamp(3.5rem, 2.8681rem + 2.7473vw, 6rem));
  padding: clamp(0.5rem, 0.2313rem + 1.1681vw, 1.563rem);
  box-sizing: border-box;
  overflow: hidden;
}


.warning-sign {
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  position: absolute;
  height: clamp(2rem, 1.7473rem + 1.0989vw, 3rem);
  width: 100%;
  background-image: url('/img/line.svg');
  background-color: var(--accent-colors);
  background-size: cover;
}

.warning-sign h1 {
  background-color: var(--accent-colors);
  font-size: clamp(0.6rem, 0.3725rem + 0.989vw, 1.5rem);
  text-transform: uppercase;
  font-weight: bold;
}

.garbage-bin {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-content: flex-end;
  position: absolute;
  bottom: 0;
  width: clamp(20rem, 11.1538rem + 38.4615vw, 55rem);
  z-index: -1;
}

.bin-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  width: 90%;
  height: clamp(12rem, 10.989rem + 4.3956vw, 16rem);
}

.bin-body svg{
  height: clamp(9.375rem, 7.7953rem + 6.8681vw, 12.625rem);
  fill: white;
}

.bin-top {
  background-color: rgb(23, 158, 23);
  width: 100%;
  height: clamp(3rem, 2.4945rem + 2.1978vw, 5rem);
  border-radius: 20px;
}

.img-track {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: clamp(15rem, 6.1538rem + 38.4615vw, 50rem);
  z-index: -2;
  height: 100%;
}

.track-content {
  display: flex;
  width: clamp(17rem, 9.9231rem + 30.7692vw, 45rem);
  height: clamp(12rem, 7.4505rem + 19.7802vw, 30rem);
  position: absolute;
  top: -50%;
  border-radius: 20px;
  animation: scrollBottom 25s linear infinite;
  animation-delay: calc(25s / 12 * (12 - var(--i)) * -1);
  overflow: hidden;
}

.track-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.track-content:nth-child(1) { --i: 1;}
.track-content:nth-child(2) { --i: 2;}
.track-content:nth-child(3) { --i: 3;}
.track-content:nth-child(4) { --i: 4;}
.track-content:nth-child(5) { --i: 5;}
.track-content:nth-child(6) { --i: 6;}
.track-content:nth-child(7) { --i: 7;}
.track-content:nth-child(8) { --i: 8;}
.track-content:nth-child(9) { --i: 9;}
.track-content:nth-child(10) { --i: 10;}
.track-content:nth-child(11) { --i: 11;}
.track-content:nth-child(12) { --i: 12;}

.canvas-wrap-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: var(--gradient-color-bg);
  z-index: -3;
  opacity: .8;
}
.canvas-wrap {
  position: fixed;
  inset: 0;
  z-index: -999;
}

.song-obssessions-nest {
  height: calc(100dvh - clamp(3.5rem, 2.8681rem + 2.7473vw, 6rem));
  display: flex;
  gap: clamp(0.625rem, 0.467rem + 0.6868vw, 1.25rem);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  width: 100%;
  padding: clamp(0.5rem, 0.2313rem + 1.1681vw, 1.563rem);
  box-sizing: border-box;
  overflow: hidden;
}

.tracks-stats, .genre-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
  background-color: var(--border-color-inactive);
  border-radius: clamp(1rem, 0.7473rem + 1.0989vw, 2rem);
  border: 2px solid var(--border-color-inactive);
  padding: clamp(0.7rem, 0.4978rem + 0.8791vw, 1.5rem);
  box-sizing: border-box;
  position: relative;
}

#now-playing {
  transition: opacity 0.1s ease-in-out;
  width: 100%;
}

.now-playing-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: clamp(8rem, 6.2308rem + 7.6923vw, 15rem);
}

.track-card {
  height: clamp(4rem, 2.4835rem + 6.5934vw, 10rem);
  display: flex;
  align-items: center;
  column-gap: clamp(1rem, 0.7473rem + 1.0989vw, 2rem);
  border-radius: clamp(1rem, 0.7473rem + 1.0989vw, 2rem);
  background-color: var(--navbar-color);
  overflow-x: hidden;
}

.album-art {
  border-radius: clamp(0.5rem, 0.3736rem + 0.5495vw, 1rem);
  width: clamp(3rem, 1.3887rem + 7.0055vw, 9.375rem);
  height: 100%;
  object-fit: cover;
}

.tracks-stats {
  row-gap: clamp(0.5rem, 0.3736rem + 0.5495vw, 1rem);
}

.track-name { 
  font-weight: bold; 
  font-size: clamp(0.7rem, 0.5736rem + 0.5495vw, 1.2rem); 
  color: var(--svg-icons-active);
}

.artist-name { 
  font-size: clamp(0.7rem, 0.5736rem + 0.5495vw, 1.2rem); 
  color: var(--border-color-active); 
}
.track-status { 
  font-size: clamp(0.7rem, 0.5736rem + 0.5495vw, 1.2rem); 
}

.track-status.playing { 
  color: var(--accent-colors); 
}
.track-status.stopped { 
  color: var(--accent-colors); 
}

.artist-card {
  display: flex;
  align-items: center;
  column-gap: clamp(0.5rem, 0.1209rem + 1.6484vw, 2rem);
  background: var(--svg-icons-inactive);
  border-radius: 12px;
  border: 2px solid var(--border-color-inactive);
  text-align: center;
  height: 7rem;
  overflow: hidden;
}

.artist-art {
  height: 100%;
}

.top-songs-list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: clamp(1rem, 0.7473rem + 1.0989vw, 2rem);
  padding: clamp(0.5rem, 0.1209rem + 1.6484vw, 2rem);
  box-sizing: border-box;
  background-color: var(--svg-icons-inactive);
  border: 2px solid var(--border-color-inactive);
}


.top-songs-list h2 {
  font-size: clamp(0.7rem, 0.3714rem + 1.4286vw, 2rem);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: var(--accent-colors);
}

#top-tracks {
  display: flex;
  flex-direction: column;
  row-gap: clamp(0.2rem, -0.0022rem + 0.8791vw, 1rem);
}

.top-track-desc {
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: left;
}

.top-artist-rank {
  color: var(--accent-colors);
  font-size: clamp(0.7rem, 0.3714rem + 1.4286vw, 2rem);
  font-weight: 500;
}
.top-song-name {
  color: var(--navbar-color);
  font-size: clamp(0.65rem, 0.5615rem + 0.3846vw, 1rem);
  font-weight: bold;
}
.top-artist-name, .top-artist-plays {
  color: var(--navbar-color);
  font-weight: 500;
  font-size: clamp(0.65rem, 0.5615rem + 0.3846vw, 1rem);
}

.genre-stats h2 span{
  font-weight: bold;
}

.genre-stats h2 {
  text-align: center;
  font-size: clamp(1rem, 0.7473rem + 1.0989vw, 2rem);
  padding: clamp(0.5rem, 0.3736rem + 0.5495vw, 1rem);
  background-color: var(--navbar-color);
  color: var(--accent-colors);
  border-radius: 1rem;
  margin-bottom: 15px;
}

#top-genres {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: clamp(2rem, 1.8736rem + 0.5495vw, 2.5rem);
}

.genre-bar {
  display: flex;
  align-items: center;
  gap: clamp(1rem, 0.4945rem + 2.1978vw, 3rem);
}

.genre-label {
  min-width: clamp(5rem, 4.2418rem + 3.2967vw, 8rem);
  color: var(--navbar-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: clamp(0.8rem, 0.7495rem + 0.2198vw, 1rem);
}

.bar-wrapper {
  background: var(--border-color-inactive);
  border: 2px solid var(--border-color-inactive);
  height: 1rem;
  flex: 1;
}

.bar-inner {
  height: 100%;
  border-radius: 0;
  background-color: var(--accent-colors);
  transition: width 0.5s ease;
}

.count-label {
  margin-left: 6px;
  width: 20px;
  font-size: 1rem;
  color: var(--accent-colors);
  font-weight: bold;
}


@media (max-width: 1000px) {
    .song-obssessions-nest {
        flex-direction: column;
        row-gap: 5px;
    }

    .tracks-stats, .genre-stats {
        width: 100%;
    }

    .genre-stats {
        height: 50%;
        overflow-y: scroll;
    }

    .genre-stats::-webkit-scrollbar {
    width: 9px;             
    }

    .genre-stats::-webkit-scrollbar-track {
    background: transparent;
    margin: 5px;
    }

    .genre-stats::-webkit-scrollbar-thumb {
    background: var(--accent-colors);
    border: 3px solid transparent;
    background-clip: content-box;
    border-radius: 10px;
    }


    .artist-card {
        height: 3.5rem;
    }

    #top-genres {
        row-gap: 0;
    }

    .bar-wrapper {
        height: .5rem;
    }
}
